@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

.hero-bg {
  background-image: url(/images/mobile/image-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100;
  padding-top: 2.5em;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-pack: space-between;
  -webkit-box-pack: space-between;
  justify-content: space-between;
  position: relative;
}
header .logo {
  width: 10em;
  padding-left: 1.5em;
}

.hide-desktop {
  width: 3em;
  padding-right: 1.5em;
}
.navbar {
  width: 100%;
  display: none;
}
nav ul {
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 999;
}

nav ul li {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding: 0.4em;
  color: white;
}
.nav-link a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
}
nav ul li:last-child {
  padding-bottom: 4em;
}

nav ul li:nth-child(3) {
  padding-top: 4em;
}
/*.nav-link a {
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 1em;
  text-align: left;
  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
}
.nav-link a:hover {
  background-color: white;
  width: 100%;
  color: black;
  transform: translateX(100px);
  -moz-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}*/
#nav-logo {
  float: left;
  padding-left: 0.5em;
  padding-top: 1em;
  margin-bottom: 1em;
}
nav #exitnav {
  float: right;
  margin-top: 0.2em;
  padding-top: em;
  padding-right: 0.8em;
  width: 2em;
  cursor: pointer;
}
.header-text {
  padding: 96px 1em 0 1em;
}
.header-text h1 {
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8em;
  font-weight: 300;
  border: 2px solid white;
  padding: 0.4em;
}

section {
  max-width: 100%;
}
.grid-1 {
  width: 100%;
}
.grid-1 img {
  width: 100%;
  padding: 6em 1em 2em 1em;
}
.grid-2 h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  padding: 0.5em;
}
.grid-2 p {
  font-size: 15px;
  color: hsl(0, 0%, 55%);
  font-family: "Alata", sans-serif;
  line-height: 1.8em;
  font-weight: 600;
  text-align: center;
  padding: 0 2em;
}
.grid-3 h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  padding: 2.5em 0.7em 1em;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.5em;
  position: relative;
  padding: 0.3em;
}
.grid-4 img {
  width: 100%;
  min-height: 20vh;
}

.grid-4 h3 {
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  position: absolute;
  top: 12vh;
  left: 0%;
  padding-left: 0.5em;
}

.cta {
  text-align: center;
  padding: 0.7em;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  width: 45%;
  margin: 0 25%;
  background-color: white;
}

footer {
  background-color: black;
  text-align: center;
  margin-top: 3em;
  padding-bottom: 2em;
}
.footer-logo {
  width: 100%;
  padding: 2em;
}
.ending-logo {
  width: 10em;
}
.footer-nav ul {
  list-style-type: none;
}
footer ul li {
  text-decoration: none;
  padding: 1em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 500;
}
.footer-nav ul li a {
  width: 100%;
}
.footer-nav ul li a:hover {
  width: 100%;
  cursor: pointer;
  color: black;
  background: white;
}
footer ul li:first-child {
  color: violet;
  text-decoration: none;
  padding: 1.5em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 400;
}
footer ul li:last-child {
  text-decoration: none;
  padding: 1.5em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 400;
}
.footer-icon {
  margin: 0 auto;
  width: 60%;
}
.footer-icon ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  -ms-flex-direction: row;
  margin: 0 auto;
}
.footer-icon ul li {
  padding: 1em;
}
.footer-icon ul li a {
  width: 100%;
}

.attribution p {
  color: hsl(0, 0%, 41%);
  text-align: center;
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.attribution ul {
  list-style-type: none;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-box-pack: space-around;
  align-items: center;
  -webkit-box-align: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  text-align: center;
}
.attribution ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}
.attribution ul li a:hover {
  width: 100%;
  color: white;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid white;
}
.author-tag {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.author-tag a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  font-size: 13px;
  font-family: "Alata", sans-serif;
}

@media all and (min-width: 500px) {
  .header-text {
    padding: 10em 2em 0 2em;
    max-width: 100%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
    padding: 40px;
    border: 2px solid white;
    max-width: 550px;
  }
  .cta {
    width: 35%;
    margin: 0 30%;
  }
}

@media all and (min-width: 768px) {
  .hero-bg {
    background-image: url(/images/desktop/image-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
  }
  .header-text {
    padding: 10em 2em 0 2em;
    max-width: 100%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 70px;
    padding: 30px;
    border: 2px solid white;
    max-width: 650px;
  }
  .grid-wrap {
    display: grid;
    display: -webkit-grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4 1fr);
  }
  .cta {
    width: 200px;
    font-size: 1.2em;
    margin: 0 35%;
  }
}

@media all and (min-width: 1250px) {
  .hero-bg {
    background-image: url(/images/desktop/intro-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
  }
  header {
    width: 100%;
    padding-top: 2.5em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    position: relative;
  }
  header .logo {
    width: 15em;
    padding-left: 5em;
  }

  .hide-desktop {
    display: none;
  }
  .navbar {
    width: 100%;
    display: block;
    position: relative;
  }
  nav ul {
    width: 60%;
    margin: 0.7em 35%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-end;
    position: inherit;
    background: none;
  }
  #nav-logo {
    display: none;
  }
  #exitnav {
    display: none;
  }
  nav ul li {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 0em;
    text-transform: capitalize;
  }

  nav ul li:last-child {
    padding-bottom: 0;
  }

  nav ul li:nth-child(3) {
    padding-top: 0;
  }
  /*Every ul li with the nth child should have the content*/
nav ul li::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  nav ul li:hover::after{
    opacity: 0;
  }
}

  /*.nav-link a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1em;
    text-align: left;
    transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -webkit-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
  }
  .nav-link a:hover {
    background-color: inherit;
    width: 100%;
    color: white;
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }*/
  .nav-link a::after {
    content: "";
    width: 40%;
    height: 2px;
    bottom: 10px;
    left: 40%;
    transform: translateX(-40%);
    opacity: 1;
    display: block;
    transition: opacity 2s ease-in-out;
  }
  .header-text {
    padding: 5em 2em;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.8em;
    font-weight: 300;
    border: 2px solid white;
    padding: 0.4em;
  }

  section {
    max-width: 100%;
  }
  .grid-1 {
    width: 100%;
  }
  .grid-1 img {
    width: 100%;
    padding: 6em 1em 2em 1em;
  }
  .grid-2 h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    padding: 0.5em;
  }
  .grid-2 p {
    font-size: 15px;
    color: hsl(0, 0%, 55%);
    font-family: "Alata", sans-serif;
    line-height: 1.8em;
    font-weight: 600;
    text-align: center;
    padding: 0 2em;
  }
  .grid-3 h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    padding: 2.5em 0.7em 1em;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 1.5em;
    position: relative;
    padding: 0.3em;
  }
  .grid-4 img {
    width: 100%;
    min-height: 20vh;
  }

  .grid-4 h3 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    position: absolute;
    top: 12vh;
    left: 0%;
    padding-left: 0.5em;
  }

  .cta {
    text-align: center;
    padding: 0.7em;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    width: 45%;
    margin: 0 25%;
    background-color: white;
  }

  footer {
    background-color: black;
    text-align: center;
    margin-top: 3em;
    padding-bottom: 2em;
  }
  .footer-logo {
    width: 100%;
    padding: 2em;
  }
  .ending-logo {
    width: 10em;
  }
  .footer-nav ul {
    list-style-type: none;
  }
  footer ul li {
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 500;
  }
  .footer-nav ul li a {
    width: 100%;
  }
  .footer-nav ul li a:hover {
    width: 100%;
    cursor: pointer;
    color: black;
    background: white;
  }
  footer ul li:first-child {
    color: violet;
    text-decoration: none;
    padding: 1.5em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  footer ul li:last-child {
    text-decoration: none;
    padding: 1.5em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  .footer-icon {
    margin: 0 auto;
    width: 60%;
  }
  .footer-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    -ms-flex-direction: row;
    margin: 0 auto;
  }
  .footer-icon ul li {
    padding: 1em;
  }
  .footer-icon ul li a {
    width: 100%;
  }

  .attribution p {
    color: hsl(0, 0%, 41%);
    text-align: center;
    margin: 1em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .attribution ul {
    list-style-type: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-box-pack: space-around;
    align-items: center;
    -webkit-box-align: center;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    text-align: center;
  }
  .attribution ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    margin: 1em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .attribution ul li a:hover {
    width: 100%;
    color: white;
  }
  hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 1px solid white;
  }
  .author-tag {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    margin: 1em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .author-tag a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 13px;
    font-family: "Alata", sans-serif;
  }
}

/*main {
    display: grid;
    display: -ms-grid;
    display: -webkit-g;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 50vh auto 100vh;
    grid-template-areas:
      "hero hero hero hero"
      ". img content ."
      ". content button ."
      "img img img  img"
      "footer footer footer footer";
  }
  .hero-bg {
    grid-area: hero;
  }
  .grid-1 {
    grid-area: img;
  }
  .grid-2 {
    grid-area: content;
  }
  .grid-3 {
    grid-area: content;
  }
  .cta {
    grid-area: button;
  }
  .grid-wrap {
    grid-area: img;
  }
  footer {
    grid-area: footer;
  }
}
*/
