@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: hsl(0, 0%, 100%);
  --middle-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 41%);
}

body {
  font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-color);
}
@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

.hero-bg {
  background-image: url(../images/mobile/image-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100;
  padding-top: 2.5em;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -ms-flex-pack: space-between;
  -webkit-box-pack: space-between;
  justify-content: space-between;
  position: relative;
}
header .logo {
  width: 10em;
  padding-left: 1.5em;
}

.hide-desktop {
  width: 3em;
  padding-right: 1.5em;
}
.navbar {
  width: 100%;
  display: none;
}
nav ul {
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 999;
}

nav ul li {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  padding: 0.4em;
  color: white;
}
.nav-link a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
}
nav ul li:last-child {
  padding-bottom: 4em;
}

nav ul li:nth-child(3) {
  padding-top: 4em;
}
.nav-link a {
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 1em;
  text-align: left;
  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
}
.nav-link a:hover {
  background-color: white;
  width: 100%;
  color: black;
  transform: translateX(100px);
  -moz-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
}

#nav-logo {
  float: left;
  padding-left: 0.5em;
  padding-top: 1em;
  margin-bottom: 1em;
}
nav #exitnav {
  float: right;
  margin-top: 0.2em;
  padding-top: em;
  padding-right: 0.8em;
  width: 2em;
  cursor: pointer;
}
.header-text {
  padding: 96px 1em 0 1em;
}
.header-text h1 {
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.8em;
  font-weight: 300;
  border: 2px solid white;
  padding: 0.4em;
}

section {
  max-width: 100%;
}
.grid-1 {
  width: 100%;
}
.grid-1 img {
  width: 100%;
  padding: 6em 1em 2em 1em;
}
.desk-grid {
  display: none;
}
.grid-2 h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  padding: 0.5em;
}
.grid-2 p {
  font-size: 15px;
  color: hsl(0, 0%, 55%);
  font-family: "Alata", sans-serif;
  line-height: 1.8em;
  font-weight: 600;
  text-align: center;
  padding: 0 2em;
}
.grid-3 h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  padding: 2.5em 0.7em 1em;
}
.btn-cta {
  display: none;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.5em;
  position: relative;
  padding: 0.3em;
}
.grid-4 img {
  width: 100%;
  min-height: 20vh;
}
/*service section*/
.grid-4 .earth {
  display: block;
}
.grid-4 .desk-earth {
  display: none;
}
.grid-4 .arcade {
  display: block;
}
.desk-arcade {
  display: none;
}
.grid-4 .the-grid {
  display: block;
}
.grid-4 .desk-grid {
  display: none;
}
.grid-4 .soccer {
  display: block;
}
.grid-4 .desk-soccer {
  display: none;
}
.grid-4 .above {
  display: block;
}
.grid-4 .desk-above {
  display: none;
}
.grid-4 .comsic {
  display: block;
}
.grid-4 .desk-comsic {
  display: none;
}
.grid-4 .space {
  display: block;
}
.grid-4 .desk-space {
  display: none;
}
.grid-4 .fish-eye {
  display: block;
}
.grid-4 .desk-fisheye {
  display: none;
}

.grid-4 h3 {
  text-transform: uppercase;
  color: white;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  position: absolute;
  top: 12vh;
  left: 0%;
  padding-left: 0.5em;
}

.cta {
  text-align: center;
  padding: 0.7em;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  width: 45%;
  margin: 0 25%;
  background-color: white;
}
.cta:hover {
  border: 1px solid white;
  color: white;
  background-color: black;
}

footer {
  background-color: black;
  text-align: center;
  margin-top: 3em;
  padding-bottom: 2em;
}
.footer-logo {
  width: 100%;
  padding: 2em;
}
.ending-logo {
  width: 10em;
}
.footer-nav ul {
  list-style-type: none;
}
footer ul li {
  text-decoration: none;
  padding: 1em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 500;
}
.footer-nav ul li a {
  width: 100%;
}
.footer-nav ul li a:hover {
  width: 100%;
  cursor: pointer;
  color: black;
  background: white;
}
footer ul li:first-child {
  color: violet;
  text-decoration: none;
  padding: 1.5em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 400;
}
footer ul li:last-child {
  text-decoration: none;
  padding: 1.5em;
  text-transform: capitalize;
  color: white;
  font-family: "Alata", sans-serif;
  text-align: center;
  font-weight: 400;
}
.footer-icon {
  margin: 0 auto;
  width: 60%;
}
.footer-icon ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  -ms-flex-direction: row;
  margin: 0 auto;
}
.footer-icon ul li {
  padding: 1em;
}
.footer-icon ul li a {
  width: 100%;
}

.attribution p {
  color: hsl(0, 0%, 41%);
  text-align: center;
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.rights p {
  display: none;
}
.attribution ul {
  list-style-type: none;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-box-pack: space-around;
  align-items: center;
  -webkit-box-align: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  text-align: center;
}
.attribution ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: capitalize;
}
.attribution ul li a:hover {
  width: 100%;
  color: white;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid var(--primary-color);
}
.author-tag {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  margin: 1em auto;
  font-family: "Alata", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.author-tag a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  font-size: 13px;
  font-family: "Alata", sans-serif;
}

@media all and (min-width: 500px) {
  .header-text {
    padding: 10em 2em 0 2em;
    max-width: 100%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 50px;
    padding: 40px;
    border: 2px solid white;
    max-width: 550px;
  }
  .cta {
    width: 35%;
    margin: 0 30%;
  }
  .btn-cta {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .hero-bg {
    background-image: url(../images/desktop/image-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 120vh;
  }
  .header-text {
    padding: 10em 2em 0 2em;
    max-width: 100%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 70px;
    padding: 30px;
    border: 2px solid white;
    max-width: 650px;
  }
  .grid-wrap {
    display: grid;
    display: -webkit-grid;
    display: -ms-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4 1fr);
  }
  .cta {
    width: 200px;
    font-size: 1.2em;
    margin: 0 35%;
  }
}

@media all and (min-width: 1000px) {
  .hero-bg {
    background-image: url(../images/desktop/intro-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  header {
    width: 100%;
    padding-top: 2.5em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    position: relative;
  }
  header .logo {
    width: 15em;
    padding-left: 6em;
  }

  .hide-desktop {
    display: none;
  }
  .navbar {
    width: 100%;
    display: block;
    position: relative;
  }
  nav ul {
    width: 60%;
    margin: -1em 35%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-end;
    position: inherit;
    background: none;
  }
  #nav-logo {
    display: none;
  }
  #exitnav {
    display: none;
  }
  nav ul li {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 0em;
    text-transform: capitalize;
    position: relative;
  }

  nav ul li:last-child {
    padding-bottom: 0;
  }

  nav ul li:nth-child(3) {
    padding-top: 0;
  }
  /*Every ul li with the nth child should have the content*/
  nav ul li::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20%;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  nav ul li:hover::after {
    opacity: 1;
  }
  .nav-link a {
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1em;
    text-align: left;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0, 3s ease-in-out;
  }
  .nav-link a:hover {
    background-color: inherit;
    width: 100%;
    color: #a0a0a0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .header-text {
    padding: 5em 2em;
    margin: 0 5%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.8em;
    font-weight: 300;
    border: 2px solid white;
    padding: 0.9em;
    line-height: 65px;
  }

  .about {
    width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-columns: 60% 30%;
    position: relative;
    overflow: hidden;
  }
  .grid-1 {
    width: 100%;
    display: none;
  }
  .grid-1 img {
    display: none;
  }
  .desk-grid {
    width: 100;
    display: block;
  }
  .desk-grid img {
    width: 100%;
    margin: 8em 0em 8em 8em;
  }
  .grid-2 {
    position: absolute;
    padding: -2em 4em;
    bottom: 15%;
    width: 45%;
    left: 53%;
    transform: translate(-53% 15%);
    background-color: white;
    z-index: 999;
    margin-right: 4em;
  }
  .grid-2 h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 45px;
  }
  .grid-2 p {
    font-size: 15px;
    color: hsl(0, 0%, 55%);
    font-family: "Alata", sans-serif;
    line-height: 1.8em;
    font-weight: 600;
    text-align: justify;
    margin: 1em 2.5em;
  }
  .work-cta {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-3 h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3em;
    font-weight: 300;
    padding: 0.5em;
    margin-top: -0.5em;
    margin-right: -3em;
  }

  .btn-cta {
    display: block;
    text-align: center;
    padding: 0.7em;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    width: 25%;
    margin: 0 62%;
    background-color: white;
  }
  .btn-cta:hover {
    display: block;
    text-align: center;
    padding: 0.7em;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    width: 25%;
    margin: 0 62%;
    background-color: black;
  }
  .grid-wrap {
    max-width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 20px;
    padding: 4em;
    margin: 0 4em;
  }
  .grid-4 img {
    width: 100%;
    min-height: fit-content;
  }
  .grid-4 .earth {
    display: none;
  }
  .grid-4 .desk-earth {
    display: block;
  }
  .grid-4 .arcade {
    display: none;
  }
  .desk-arcade {
    display: block;
  }
  .grid-4 .the-grid {
    display: none;
  }
  .grid-4 .desk-grid {
    display: block;
  }
  .grid-4 .soccer {
    display: none;
  }
  .grid-4 .desk-soccer {
    display: block;
  }
  .grid-4 .above {
    display: none;
  }
  .grid-4 .desk-above {
    display: block;
  }
  .grid-4 .comsic {
    display: none;
  }
  .grid-4 .desk-comsic {
    display: block;
  }
  .grid-4 .space {
    display: none;
  }
  .grid-4 .desk-space {
    display: block;
  }
  .grid-4 .fish-eye {
    display: none;
  }
  .grid-4 .desk-fisheye {
    display: block;
    margin: 0 auto;
  }

  .grid-4 h3 {
    text-transform: uppercase;
    color: white;
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    top: 60vh;
    left: 0%;
    padding-left: 1.5em;
  }

  .cta {
    display: none;
  }

  footer {
    background-color: black;
    margin-top: 3em;
    position: relative;
    overflow: hidden;
  }
  .footer-logo {
    width: 100%;
    margin-left: 4em;
    display: flex;
  }
  .ending-logo {
    width: 8em;
  }

  .footer-nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 5em;
    margin-top: -1.5em;
  }
  footer ul li {
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 500;
  }
  .footer-nav ul li a {
    width: 100%;
  }
  .footer-nav ul li a:hover {
    width: 100%;
    cursor: pointer;
    color: black;
    background: white;
  }
  footer ul li:first-child {
    color: white;
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  footer ul li:last-child {
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: white;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  .footer-icon {
    width: 100%;
    margin: 0 35%;
    display: flex;
  }
  .footer-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    -ms-flex-direction: row;
    position: absolute;
    top: 10%;
    left: 72%;
    transform: translate(-72% 10%);
  }
  .footer-icon ul li {
    padding: 1em;
    width: 70%;
  }
  .footer-icon ul li a {
    width: 80%;
  }
  .rights p {
    display: block;
    color: hsl(0, 0%, 41%);
    text-align: center;
    margin: 3.5em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-70% 25%);
  }
  .attribution {
    position: relative;
    width: 100%;
    display: none;
  }
  .attribution .loopstudio {
    display: none;
    background-color: tomato;
  }
  .attribution p {
    color: hsl(0, 0%, 41%);
    text-align: center;
    margin: -2em 30%;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-right: -50%;
  }
  .attribution ul {
    width: 30%;
    list-style-type: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-box-pack: space-around;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    text-align: center;
    margin: -1em 1.6em;
  }
  .attribution ul li {
    margin-left: auto;
    margin-top: 0.5em;
  }
  .attribution ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .attribution ul li a:hover {
    width: 100%;
    color: white;
  }
  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 1px solid white;
  }
  .author-tag {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    margin: 0.5em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .author-tag a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-size: 13px;
    font-family: "Alata", sans-serif;
  }
}
@media all and (min-width: 1250px) {
  .hero-bg {
    background-image: url(../images/desktop/intro-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  header {
    width: 100%;
    padding-top: 2.5em;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flexbox;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    position: relative;
  }
  header .logo {
    width: 15em;
    padding-left: 6em;
  }

  .hide-desktop {
    display: none;
  }
  .navbar {
    width: 100%;
    display: block;
    position: relative;
  }
  #icon {
    width: 30px;
    cursor: pointer;
  }
  nav ul {
    width: 60%;
    margin: -1em 35%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-end;
    position: inherit;
    background: none;
  }
  #nav-logo {
    display: none;
  }
  #exitnav {
    display: none;
  }
  nav ul li {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding: 0em;
    text-transform: capitalize;
    position: relative;
  }

  nav ul li:last-child {
    padding-bottom: 0;
  }

  nav ul li:nth-child(3) {
    padding-top: 0;
  }
  /*Every ul li with the nth child should have the content*/
  nav ul li::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 20%;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  nav ul li:hover::after {
    opacity: 1;
  }
  .nav-link a {
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
    padding: 1em;
    text-align: left;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0, 3s ease-in-out;
  }
  .nav-link a:hover {
    background-color: inherit;
    width: 100%;
    color: #a0a0a0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  .header-text {
    padding: 5em 2em;
    margin: 10vh 5%;
  }
  .header-text h1 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.8em;
    font-weight: 300;
    border: 2px solid var(--primary-color);
    padding: 0.9em;
    line-height: 65px;
  }

  .about {
    width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-columns: 60% 30%;
    position: relative;
    overflow: hidden;
  }
  .grid-1 {
    width: 100%;
    display: none;
  }
  .grid-1 img {
    display: none;
  }
  .desk-grid {
    width: 100;
    display: block;
  }
  .desk-grid img {
    width: 100%;
    margin: 8em 0em 8em 8em;
  }
  .grid-2 {
    position: absolute;
    padding: -2em 4em;
    bottom: 15%;
    width: 45%;
    left: 53%;
    transform: translate(-53% 15%);
    background-color: var(--primary-color);
    z-index: 999;
    margin-right: 4em;
  }
  .grid-2 h2 {
    text-transform: uppercase;
    color: var(--middle-color);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 45px;
  }
  .grid-2 p {
    font-size: 15px;
    color: var(--secondary-color);
    font-family: "Alata", sans-serif;
    line-height: 1.8em;
    font-weight: 600;
    text-align: justify;
    margin: 1em 2.5em;
  }
  .work-cta {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .grid-3 h2 {
    text-transform: uppercase;
    color: var(--middle-color);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3em;
    font-weight: 300;
    padding: 0.5em 0.7em 1em;
    margin-top: -0.5em;
    margin-left: -1em;
  }

  .btn-cta {
    display: block;
    text-align: center;
    padding: 0.7em;
    border: 2px solid var(--middle-color);
    color: var(--middle-color);
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    width: 25%;
    margin: 0 62%;
    background-color: var(--primary-color);
  }
  .btn-cta:hover {
    display: block;
    text-align: center;
    padding: 0.7em;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    width: 25%;
    margin: 0 62%;
    background-color: var(--middle-color);
  }
  .grid-wrap {
    max-width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    display: -webkit-grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 5px;
    padding: 3em;
    margin: 0 3em;
  }
  .grid-4 img {
    width: 100%;
    min-height: fit-content;
  }
  .grid-4 .earth {
    display: none;
  }
  .grid-4 .desk-earth {
    display: block;
  }
  .grid-4 .arcade {
    display: none;
  }
  .desk-arcade {
    display: block;
  }
  .grid-4 .the-grid {
    display: none;
  }
  .grid-4 .desk-grid {
    display: block;
  }
  .grid-4 .soccer {
    display: none;
  }
  .grid-4 .desk-soccer {
    display: block;
  }
  .grid-4 .above {
    display: none;
  }
  .grid-4 .desk-above {
    display: block;
  }
  .grid-4 .comsic {
    display: none;
  }
  .grid-4 .desk-comsic {
    display: block;
  }
  .grid-4 .space {
    display: none;
  }
  .grid-4 .desk-space {
    display: block;
  }
  .grid-4 .fish-eye {
    display: none;
  }
  .grid-4 .desk-fisheye {
    display: block;
  }

  .grid-4 h3 {
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: justify;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    top: 60vh;
    left: 0%;
    padding-left: 1.5em;
  }

  .cta {
    display: none;
  }

  footer {
    background-color: var(--middle-color);
    margin-top: 3em;
    position: relative;
    overflow: hidden;
  }
  .footer-logo {
    width: 100%;
    margin-left: 4em;
    display: flex;
  }
  .ending-logo {
    width: 8em;
  }

  .footer-nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 5em;
    margin-top: -1.5em;
  }
  footer ul li {
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 500;
  }
  .footer-nav ul li a {
    width: 100%;
  }
  .footer-nav ul li a:hover {
    width: 100%;
    cursor: pointer;
    color: var(--middle-color);
    background: var(--primary-color);
  }
  footer ul li:first-child {
    color: var(--primary-color);
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  footer ul li:last-child {
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    color: var(--primary-color);
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 400;
  }
  .footer-icon {
    width: 100%;
    margin: 0 35%;
    display: flex;
  }
  .footer-icon ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    -ms-flex-direction: row;
    position: absolute;
    top: 10%;
    left: 78%;
    transform: translate(-78% 10%);
  }
  .footer-icon ul li {
    padding: 1em;
    width: 70%;
  }
  .footer-icon ul li a {
    width: 80%;
  }
  .rights p {
    display: block;
    color: var(--secondary-color);
    text-align: center;
    margin: 3.5em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    top: 25%;
    left: 78%;
    transform: translate(-78% 25%);
  }
  .attribution {
    position: relative;
    width: 100%;
    display: none;
  }
  .attribution .loopstudio {
    display: none;
    background-color: tomato;
  }
  .attribution p {
    color: var(--secondary-color);
    text-align: center;
    margin: -2em 30%;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-right: -50%;
  }
  .attribution ul {
    width: 30%;
    list-style-type: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-box-pack: space-around;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    text-align: center;
    margin: -1em 1.6em;
  }
  .attribution ul li {
    margin-left: auto;
    margin-top: 0.5em;
  }
  .attribution ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .attribution ul li a:hover {
    width: 100%;
    color: var(--primary-color);
  }
  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: 1px solid var(--primary-color);
  }
  .author-tag {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0.5em auto;
    font-family: "Alata", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .author-tag a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 13px;
    font-family: "Alata", sans-serif;
  }
}
